<section id="guidelines">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Guidelines</h2>
            </div>
        </div>
        <div class="row container">
          <style>
          .warning {
            font-size: 30px;
          }
          .rules {
            align-items: margin-left;
            display: block;
            list-style-type: disc;
            margin-top: 1em;
            margin-bottom: 1 em;
            margin-left: 0;
            margin-right: 0;
            padding-left: 40px;
            font-size: 25px;
        }
          </style>



              <div class="guidelines">
              <h4 class="warning">To ensure the dance is comfortable and safe for all participants, the following behaviors will not be under any circumstances permitted:</h4>

              <ul class="rules">
                <b><li>Making Out</li>
                <li>Inappropiate Dancing</li>
                <li>Foul Language</li></b>
              </ul>

              <h4 class="warning"> Dress Code:</h4>
              <p class="rules">
 To make this a truly special occasion, attire should be formal and modest (no jeans, t-shirts, or tennis shoes, and no short, low-cut, or see through dresses).              </p>


              </div>

            <br>

             <center><a href="#registration" class="page-scroll btn btn-xl">Registration</a></center>
        </div>
    </div>
</section>
