<!-- Services Section -->
    <section id="invite">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Join us!</h2>
                </div>
            </div>
            <div class="row container">
                <center><div class="image"><img src="../css/2017_style/img/invite.png" width="1000"></div><br></center>

                 <center><a href="#details" class="page-scroll btn btn-xl">Details</a></center>
            </div>
        </div>
    </section>
