<section id="registration">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Re</h2>
            </div>
        </div>
        <div class="row container">
            <div class="photo"><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook%2Fvideos%2F10153231379946729%2F&width=500&show_text=false&appId=269289086810957&height=280" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></div><br>

             <center><a href="#music" class="page-scroll btn btn-xl">Music</a></center>
        </div>
    </div>
</section>
