<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">A Night Under the Stars<br></div>
                <div class="intro-sub-heading">Masquearade Ball<br></div>
                <div class="intro-lead-in">April 28th 2018 | 6 PM to 9 PM</div>
                <div class="intro-lead-in">The Mezzanine at Dragon Hill Lodge, Yongsan USAG</div>
                <a href="#invite" class="page-scroll btn btn-xl">More Info</a>
            </div>
        </div>
    </header>

    {% include 2017_data/invite.html %}
    {% include 2017_data/details.html %}
    {% include 2017_data/guidelines.html %}
    {% include 2017_data/registration.html %}
    {% include 2017_data/about.html %}
<!--    {% include 2017_data/sponsors.html %} -->
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
